/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100dvh;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
svg,
picture {
  height: auto;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-size: 1.125rem;
  background-color: hsl(0, 0%, 100%);
}

body::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../images/bg-main-mobile.png");
  background-position: top center;
  background-color: hsl(278, 68%, 11%);
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
  z-index: -1;
}

main {
  padding-block-start: 1.75em;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

input[type=text]:hover,
input[type=number]:hover,
input[type=text]:active,
input[type=text]:focus-visible,
input[type=number]:active,
input[type=number]:focus-visible {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border-radius: 8px;
  border: 1px solid transparent;
}

input[type=text]:hover,
input[type=number]:hover {
  cursor: pointer;
}

input[type=text] {
  width: 100%;
}

input[type=text],
input[type=number] {
  display: flex;
  border-radius: 8px;
  border: 1px solid hsl(270, 10%, 81%);
  padding-block: 0.625em 0.563em;
  font-size: 1rem;
  padding-inline: 0.563em;
  text-indent: 5px;
}

input::placeholder {
  color: hsl(270, 10%, 81%);
  font-size: 1rem;
}

@media screen and (min-width: 1110px) {
  body::before {
    background-image: url("../images/bg-main-desktop.png");
    background-position: top left;
    width: 483px;
    min-height: 100vh;
    min-height: 100dvh;
  }
  main {
    padding-block-start: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.625em;
  }
  footer {
    padding-block-start: 1em;
  }
  input[type=text],
  input[type=number] {
    font-size: 1.125rem;
    text-indent: 0.375rem;
    padding-block: 0.5em 0.438em;
  }
  input::placeholder {
    color: hsl(270, 10%, 81%);
    font-size: 1.125rem;
    padding-block: 0.5em 0.5em;
  }
}
.space-grotesk-fem008 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  margin-inline: auto;
  width: 343px;
}

@media screen and (min-width: 1110px) {
  .container {
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
  }
}
.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card__box {
  display: flex;
  flex-direction: column-reverse;
  color: hsl(0, 0%, 100%);
}

.card {
  width: 286px;
  height: 157px;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 15px 32px -3px rgba(33, 9, 47, 0.2);
  border-radius: 6px;
}

.card--front {
  background-image: url("../images/bg-card-front.png");
  margin-top: -63px;
  z-index: 2;
  padding-inline-start: 1.063em;
  padding-block-start: 1.063em;
  padding-inline-end: 1.188em;
}

.card--back {
  background-image: url("../images/bg-card-back.png");
  margin-inline-start: auto;
}

.card__image-box {
  height: 30px;
}

.card__image {
  height: 30px;
  object-fit: cover;
}

.card__number {
  font-size: 1.125rem;
  margin-block-start: 2.125em;
  line-height: 1.1;
  word-spacing: 10px;
  font-weight: 400;
}

.card__owner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 1.5em;
  font-size: 0.625rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.owner__name {
  text-transform: uppercase;
}

.card__verification-num {
  margin-block-start: 6.438em;
  margin-inline: auto;
  height: 30px;
  padding: 0.25em;
  padding-inline-end: 1em;
  background-color: hsl(210, 12%, 71%);
  border-radius: 4px;
  font-size: 0.625rem;
  text-align: right;
  line-height: 2.5;
  width: 240px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (min-width: 1110px) {
  .card__box {
    flex-direction: column;
    color: hsl(0, 0%, 100%);
    gap: 2em;
    width: 541px;
  }
  .card {
    width: 447px;
    height: 245px;
    border-radius: 10px;
  }
  .card--front {
    margin-top: 0;
    margin-inline-end: auto;
    padding-inline-start: 1.75em;
    padding-block-start: 1.5em;
    padding-inline-end: 1.875em;
  }
  .card--back {
    margin-inline-start: 5.875;
  }
  .card__image-box {
    height: 47px;
  }
  .card__image {
    height: 47px;
  }
  .card__number {
    margin-block-start: 2.438em;
    font-size: 1.75rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    word-spacing: -1px;
  }
  .card__owner {
    margin-block-start: 1.938em;
    font-size: 0.875rem;
    letter-spacing: 0.2rem;
  }
  .card__verification-num {
    margin-block-start: 7.75em;
    height: 38px;
    padding: 0.5em;
    padding-inline-end: 1.125em;
    font-size: 0.813rem;
    text-align: right;
    line-height: 1.75rem;
    width: 363px;
    font-weight: 300;
    letter-spacing: 0.2rem;
  }
}
.form__box {
  margin-block-start: 2.813em;
  padding-inline: 0.438em;
  width: 100%;
}

.input__box {
  margin-block-end: 1.25em;
}

.input__label {
  display: block;
  color: hsl(278, 68%, 11%);
  letter-spacing: 2px;
}

.input__label,
.fieldset__legend {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.1;
  margin-block-end: 0.75em;
}

.fieldset__box {
  margin-block-end: 1.25em;
}

.fieldset__box .input__box {
  margin-block-end: 0;
}

.fieldset__grid {
  display: grid;
  grid-template-columns: 152px 164px;
  gap: 1.25em;
}

.date__box {
  display: flex;
  flex-direction: row;
  gap: 0.625em;
}

.date__box input#month,
.date__box input#year {
  width: 72px;
}

.input__box input#cvcNo {
  width: calc(171px - 1.126em);
}

.btn {
  border: none;
  border-radius: 8px;
  display: block;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  text-align: center;
  padding-block: 0.688em;
  padding-inline: auto;
  width: 100%;
  cursor: pointer;
}

.form__control {
  display: flow-root;
}

.confirm__btn {
  margin-block-start: 0.25em;
}

.continue__box {
  text-align: center;
}

.continue__image {
  margin-inline: auto;
}

.continue__title {
  margin-block-start: 1.25em;
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.75rem;
  font-weight: 500;
}

.continue__message {
  color: hsl(279, 6%, 55%);
  margin-block-start: 0.875em;
  font-size: 1.125rem;
  letter-spacing: 0.0125rem;
}

.continue__btn {
  margin-block-start: 2.563em;
}

input.input--error {
  border: 1px solid hsl(0, 100%, 66%);
}

.error-msg-display {
  display: flex;
  justify-content: start;
  align-items: end;
  color: hsl(0, 100%, 66%);
  height: 20px;
  font-size: 0.625rem;
}

@media screen and (min-width: 1110px) {
  .form__box {
    width: 397px;
    margin-block-start: 2px;
  }
  .input__box {
    margin-block-end: 1.625em;
  }
  .input__label,
  .fieldset__legend {
    letter-spacing: 0.125rem;
    word-spacing: 0px;
    margin-block-end: 0.625em;
  }
  .fieldset__grid {
    display: grid;
    grid-template-columns: 170px 194px;
    gap: 1.25em;
  }
  .date__box {
    gap: 0.563em;
  }
  .date__box input#month,
  .date__box input#year {
    width: 80px;
  }
  .input__box input#cvcNo {
    width: calc(100% - 6px);
  }
  .confirm__btn {
    margin-block-start: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
