@use "../abstracts" as *;

body {
    background-color: $clr-ntl-white ;
    font-size: $fs-500;
}

body::before {
    background-color: $clr-ntl-very-dark-violet;
    background-image: url("../images/bg-main-mobile.png");
    background-position: top center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 240px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    padding-block-start: 1.75em;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

// Hack for active borders on input fields
input[type="text"]:hover,
input[type="number"]:hover,
input[type="text"]:active,
input[type="text"]:focus-visible,
input[type="number"]:active,
input[type="number"]:focus-visible {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, $clr-pry-input-border-active) border-box;
    border: 1px solid transparent;
    border-radius: 8px;
}

input[type="text"]:hover,
input[type="number"]:hover {
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
}

input[type="text"],
input[type="number"] {
    border: 1px solid $clr-ntl-light-grayish-violet;
    border-radius: 8px;
    display: flex;
    font-size: 1rem;
    padding-block: .625em .563em;
    padding-inline: .563em;
    text-indent: 5px;
}

input::placeholder {
    color: $clr-ntl-light-grayish-violet;
    font-size: 1rem;
}


@media screen and (min-width: 1110px) {

    body::before {
        background-image: url("../images/bg-main-desktop.png");
        background-position: top left;
        min-height: 100vh;
        min-height: 100dvh;
        width: 483px;
    }

    main {
        align-items: center;
        flex-direction: row;
        gap: 6.625em;
        justify-content: center;
        padding-block-start: 0;
    }
    
    footer {
        padding-block-start: 1em;
    }

    input[type="text"],
    input[type="number"] {
        font-size: 1.125rem;
        padding-block: .5em .438em;
        text-indent: .375rem;
    }

    input::placeholder {
        color: $clr-ntl-light-grayish-violet;
        font-size: 1.125rem;
        padding-block: .5em .5em;
    }

}