@use "../abstracts" as *;

.card__box {
    color: $clr-ntl-white;
    display: flex;
    flex-direction: column-reverse;
}

.card {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 6px;
    box-shadow: 0px 15px 32px -3px rgba($color: $clr-ntl-very-dark-violet, $alpha: .2);
    height: 157px;
    width: 286px;
}

.card--front {
    background-image: url("../images/bg-card-front.png");
    margin-top: -63px;
    padding-block-start: 1.063em;
    padding-inline-end: 1.188em;
    padding-inline-start: 1.063em;
    z-index: 2;
}

.card--back {
    background-image: url("../images/bg-card-back.png");
    margin-inline-start: auto;
}

.card__image-box {
    height: 30px;
}

.card__image {
    height: 30px;
    object-fit: cover;
}

.card__number {
    font-size: $fs-500;
    font-weight: $fw-400;
    margin-block-start: 2.125em;
    line-height: 1.1;
    word-spacing: 10px;
}

.card__owner {
    display: flex;
    flex-direction: row;
    font-size: .625rem;
    font-weight: $fw-300;
    justify-content: space-between;
    letter-spacing: 1px;
    margin-block-start: 1.5em;
}

.owner__name {
    text-transform: uppercase;
}

.card__verification-num {
    background-color: hsl(210, 12%, 71%);
    border-radius: 4px;
    font-size: .625rem;
    font-weight: $fw-300;
    height: 30px;
    letter-spacing: 1px;
    line-height: 2.5;
    margin-block-start: 6.438em;
    margin-inline: auto;
    padding: .25em;
    padding-inline-end: 1em;
    text-align: right;
    width: 240px;
}


@media screen and (min-width: 1110px) {
    
    .card__box {
        color: $clr-ntl-white;
        flex-direction: column;
        gap: 2em;
        width: 541px;
    }

    .card {
        border-radius: 10px;
        height: 245px;
        width: 447px;
    }

    .card--front {
        margin-inline-end: auto;
        margin-top: 0;
        padding-block-start: 1.5em;
        padding-inline-end: 1.875em;
        padding-inline-start: 1.75em;
    }

    .card--back {
        margin-inline-start: 5.875;
    }

    .card__image-box {
        height: 47px;
    }

    .card__image {
        height: 47px;
    }

    .card__number {
        font-size: 1.75rem;
        font-weight: $fw-400;
        letter-spacing: .2rem;
        margin-block-start: 2.438em;
        word-spacing: -1px;
    }

    .card__owner {
        font-size: .875rem;
        letter-spacing: .2rem;
        margin-block-start: 1.938em;
    }

    .card__verification-num {
        font-size: .813rem;
        font-weight: $fw-300;
        height: 38px;
        letter-spacing: .2rem;
        line-height: 1.75rem;
        margin-block-start: 7.75em;
        padding: .5em;
        padding-inline-end: 1.125em;
        text-align: right;
        width: 363px;
    }
}