@use "../abstracts" as *;

.card__box {
    display: flex;
    flex-direction: column-reverse;
    color: $clr-ntl-white;
}

.card {
    width: 286px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 15px 32px -3px rgba(97, 97, 97, 0.4);
    border-radius: 6px;
}

.card--front {
    background-image: url("../../images/bg-card-front.png");
    margin-top: -63px;
    z-index: 2;
    padding-inline-start: 1.063em;
    padding-block-start: 1.063em;
    padding-inline-end: 1.188em;
}

.card--back {
    background-image: url("../../images/bg-card-back.png");
    margin-inline-start: auto;
}

.card__image-box {
    height: 30px;
}

.card__image {
    height: 30px;
    object-fit: cover;
}

.card__number {
    font-size: $fs-500;
    margin-block-start: 2.125em;
    line-height: 1.1;
    word-spacing: 10px;
    font-weight: $fw-400;
}

.card__owner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 1.5em;
    font-size: .625rem;
}

.owner__name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $fw-300;
}

.card__verification-num {
    margin-block-start: 6.438em;
    margin-inline: auto;
    height: 30px;
    padding: .25em;
    padding-inline-end: 1em;
    background-color: hsl(210, 12%, 71%);
    border-radius: 4px;
    font-size: .625rem;
    text-align: right;
    line-height: 2.5;
    width: 240px;
    font-weight: 300;
    letter-spacing: 1px;
}


@media screen and (min-width: 1110px) {
    
    .card__box {
        flex-direction: column;
        color: $clr-ntl-white;
        gap: 2.25em;
        width: 541px;
    }

    .card {
        width: 447px;
        height: 245px;
        border-radius: 10px;
    }

    .card--front {
        background-image: url("../../images/bg-card-front.png");
        margin-top: 0;
        margin-inline-end: auto;
    }

    .card--back {
        margin-inline-start: 5.875;
    }
}