@use "../abstracts" as *;

.form__box {
    margin-block-start: 2em;
    padding-inline: .5em;
    width: 100%;
}

.input__box {
    margin-block-end: 1.25em;
}

.input__label {
    display: block;
    color: $clr-ntl-very-dark-violet;
}

.input__label,
.fieldset__legend {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: $fw-700;
    line-height: 1.1;
}

.fieldset__box {
    margin-block-end: 1.25em;
}

.fieldset__box .input__box {
    margin-block-end: 0;
}

.fieldset__grid {
    display: grid;
    grid-template-columns: 152px 164px;
    gap: 1.25em;
}

.date__box {
    display: flex;
    flex-direction: row;
    gap: .625em;
}

.date__box input#month,
.date__box input#year {
    width: 72px;
}

.input__box input#cvcNo {
    width: calc(100% - 18px);
}

.btn {
    border: none;
    border-radius: 8px;
    display: block;
    color: $clr-ntl-white;
    background-color: $clr-ntl-very-dark-violet;
    text-align: center;
    padding-block: .875em;
    padding-inline: auto;
    width: 100%;
    cursor: pointer;
}

// Response if passed
.response__box {
    text-align: center;
}

.response__image {
    margin-block-start: 1em;
    margin-inline: auto;
}

.response__title {
    margin-block-start: 1.25em;
    color: $clr-ntl-very-dark-violet;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size: 1.375rem;
}

.response__message  {
    color: $clr-ntl-dark-grayish-violet;
    margin-block-start: 1em;
    font-size: 1rem;
}

.response__btn {
    margin-block-start: 2em;
}

// Error Message
.input__error-msg {
    display: flex;
    justify-content: start;
    align-items: end;
    color: $clr-pry-input-red-errors;
    height: 20px;
    font-size: .625rem;
}

input.input--error {
    border: 1px solid $clr-pry-input-red-errors;
}


@media screen and (min-width: 1110px) {

    .form__box {
        width: 397px;
    }

}