
// # Front-end Style Guide

// ## Layout

$mq-mobile: 375px;
$mq-desktop: 1440px;

// ## Colors

// ### Primary

$clr-pry-input-border-active: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
$clr-pry-input-red-errors: hsl(0, 100%, 66%);

// ### Neutral

$clr-ntl-white: hsl(0, 0%, 100%);
$clr-ntl-light-grayish-violet: hsl(270, 3%, 87%);
$clr-ntl-dark-grayish-violet: hsl(279, 6%, 55%);
$clr-ntl-very-dark-violet: hsl(278, 68%, 11%);

// ## Typography

// ### Body Copy

$fs-400: 1rem;      // 16px
$fs-500: 1.125rem;  // 18px

// ### Font

$ff-grotesk: "Space Grotesk", sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;